<!DOCTYPE html>
@inject UserService userService
@{ 
    var user = userService.GetAdmin();
}
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.45" />
    <title>@ViewData["Title"] - 后台管理</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    @if (user != null)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="Index">后台管理</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Admin" asp-action="StoreUsersIndex">商家管理</a>
                            </li>

                            <li>
                                <a class="nav-link text-dark" asp-controller="Admin" asp-action="OnlineUsersIndex">用户管理</a>
                            </li>

                            <li>
                                <a class="nav-link text-dark" asp-controller="Admin" asp-action="StoreTypesIndex">店铺类型管理</a>
                            </li>

                        </ul>
                    </div>

                    <div class="row justify-content-md-end">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark">欢迎 Admin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Logout">注销</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
        </header>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - 在线订餐系统 - <a asp-area="" asp-controller="Home" asp-action="Privacy">关于</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/layer/layer.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
